/*https://stackoverflow.com/questions/53038964/how-to-use-downloaded-font-in-css*/
@font-face {
    font-family: 'Petaluma';
    src: url('/font/Petaluma.eot');
    src: url('/font/Petaluma.eot?#iefix') format('embedded-opentype'),
         url('/font/Petaluma.svg#Petaluma') format('svg'),
         url('/font/Petaluma.ttf') format('truetype'),
         url('/font/Petaluma.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

body {
    background-color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}

p {
    background-color: whitesmoke;
}

button:disabled {
    background-color: darkgray;
    color: lightgray;
}

button {
    background-color: black;
    color: white;
}

h2 {
    display: inline;
}

#dynCanvas {
    font-family: 'Petaluma';
}


.scroll {
    opacity: 50%;
    -webkit-transition: -webkit-transform 1s linear;
    -moz-transition: transform 1s linear;
    -ms-transition: transform 1s linear;
    -o-transition: transform 1s linear;
    transition: transform 1s linear;
}

/*https://stackoverflow.com/questions/30128587/ios-safari-transition-transform-not-working/30403110*/
.scrolling {
    /*-webkit-transform: translate3d(100%, 0, 0);*/
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
}